# Hugo default output directory
src/public/

# Hugo generated resources
src/resources/_gen/
src/assets/jsconfig.json

# Temporary files
src/.hugo_build.lock
*.log

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Node modules (if you're using any npm packages)
node_modules/

# Local Netlify folder (if using Netlify)
.netlify

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

.dev_test/