# Generated Hugo files
/public/
/resources/_gen/
/hugo_stats.json

# Log files and backups
*.log
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
*.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
/node_modules/
/vendor/

# Temporary files
*.tmp
*.temp

# Cache files
.cache/
/npm-debug.log*

# Optional Hugo directories
/content/_index.md.bak
